# Evita subir archivos con datos sensibles o temporales

# Variables de entorno
.env

# Caché de Python
__pycache__/
*.py[cod]

# Archivos de logs
*.log

# Archivos de configuración del IDE
.vscode/
.idea/

# Archivos de sistema
.DS_Store
Thumbs.db
